.container {
  padding: 20px 0;
  width: 1000px;
  margin: 0 17%;
  display: flex;
  justify-content: space-between;
}

.content_left {
  width: 700px;
}

.breadcrumb {
  font-size: 14px;
}

.blue {
  color: #303133
}

.blue:hover {
  color: #409eff;
}

h1 {
  margin-bottom: 0;
}

.title {
  font-weight: 600;
  font-size: 32px;
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}

.post-ctrl {
  padding: 50px 0 30px 0;
}

.icon {
  font-size: 34px;
  color: orange;
}

.icon_name {
  color: #999999;
  margin-top: 5px;
}

.comment {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.el-textarea {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px;
  margin-bottom: 10px;
}

.el-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #606266;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  outline-color:#dcdfe6;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}
.cmt-list{
  border: 1px solid #ddd;
}
.cmt-item {
  border-bottom: 1px dashed #ddd;
  padding: 20px 20px 5px;
}
.defaultAvatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

.cmt-info {
  margin-bottom: 10px;
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
}
.pics_img{
  width: 80px;
  height: 80px;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 5px;
  margin-top: 10px;
  padding: 5px;
  border: 1px dashed #ddd;
}
.cmt-ctrl {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #1e50a2;
  text-align: right;
}
.huifu {
  visibility: hidden;
}
.cmt-ctrl:hover .huifu {
  visibility: visible;
}
.no_cmt{
  padding: 30px 0;
  border: 1px dashed #ddd;
}
.tree {
  background: rgb(249,249,249);
  border: 1px solid #ddd;
}
.content_right {
  width: 280px;
}
.recommend {
  color: #000000;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.recommend_item{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.recom_images {
  width: 100px;
  height: 80px;
}
.post-text {
  width: 170px;
  height: 80px;
}
.time {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #999999;
  font-size: 12px;
}